---
on:
  pull_request:

jobs:
  markdown-lint:
    uses: ./.github/workflows/markdown-lint.yml

  markdown-link-checker:
    uses: ./.github/workflows/markdown-link-checker.yml

  yaml-lint:
    uses: ./.github/workflows/yaml-lint.yml

  workflow-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check workflow files
        run: |
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
          ./actionlint .github/workflows/*.yml -color
        shell: bash

  check:
    if: always()
    needs:
      - markdown-lint
      - markdown-link-checker
      - yaml-lint
      - workflow-lint
    runs-on: Ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@main
        with:
          allowed-failures: markdown-link-checker
          allowed-skips:
          jobs: ${{ toJSON(needs) }}
